<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://cdn.w3cbus.com/community.mdclub.org/static/theme/material/index.eea5d0d6.css">

</head>
<body class="mdui-loaded mdui-drawer-body-left" style="">
<div class="mdui-appbar-with-toolbar mg-app mdui-appbar-with-tab">
    <div class="mc-appbar mdui-appbar mdui-appbar-fixed">
        <div class="toolbar mdui-toolbar">
            <button class="drawer mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon material-icons">menu</i>
            </button>
            <a class="headline" href="/">MDClub</a>
            <div class="title">问答</div>
            <form method="get" class="search-bar">
                <button type="button" class="back mdui-btn mdui-btn-icon"><i
                        class="mdui-icon material-icons mdui-text-color-theme-icon">arrow_back</i></button>
                <button type="submit" class="submit mdui-btn mdui-btn-icon"><i
                        class="mdui-icon material-icons mdui-text-color-theme-icon">search</i></button>
                <input type="text" placeholder="搜索文章与问答">
                <button type="button" class="cancel mdui-btn mdui-btn-icon"><i
                        class="mdui-icon material-icons mdui-text-color-theme-icon">close</i></button>
            </form>
            <div class="mdui-toolbar-spacer"></div>
            <div class="search-icon mdui-btn mdui-btn-icon"><i
                    class="mdui-icon material-icons mdui-text-color-theme-icon">search</i></div>
            <div class="login mdui-btn mdui-btn-dense">登录</div>
            <div class="register mdui-btn mdui-btn-dense">注册</div>
        </div>
        <div class="mc-tab mdui-tab mdui-tab-centered"><a href="#recent" class="mdui-ripple">最新</a><a href="#popular"
                                                                                                      class="mdui-ripple">近期热门</a>
        </div>
    </div>
    <div class="mc-drawer mdui-drawer mdui-drawer-open">
        <div class="mdui-list"><a class="mdui-list-item mdui-ripple" href="/"><i
                class="mdui-list-item-icon mdui-icon material-icons">home</i>
            <div class="mdui-list-item-content">首页</div>
        </a><a class="mdui-list-item mdui-ripple" href="/topics"><i
                class="mdui-list-item-icon mdui-icon material-icons">class</i>
            <div class="mdui-list-item-content">话题</div>
        </a><a class="mdui-list-item mdui-ripple mdui-list-item-active" href="/questions"><i
                class="mdui-list-item-icon mdui-icon material-icons">forum</i>
            <div class="mdui-list-item-content">问答</div>
        </a><a class="mdui-list-item mdui-ripple" href="/articles"><i
                class="mdui-list-item-icon mdui-icon material-icons">description</i>
            <div class="mdui-list-item-content">文章</div>
        </a>
            <div class="mdui-divider"></div>
            <a class="mdui-list-item mdui-ripple" href="/users"><i class="mdui-list-item-icon mdui-icon material-icons">people</i>
                <div class="mdui-list-item-content">人脉</div>
            </a></div>
        <div class="copyright"><p>© 2022 MDClub</p>
            <p>Powered by <a href="https://mdui.org" target="_blank">MDUI</a> &amp; <a href="https://mdclub.org"
                                                                                       target="_blank">MDClub</a></p>
        </div>
    </div>
    <div id="page-questions" class="mdui-container">
        <div id="recent">
            <div class="item-list mdui-card mdui-card-shadow"><a class="mc-list-item" href="/questions/308">
                <div class="mc-user-popover">
                    <div class="avatar user-popover-trigger"
                         style="background-image: url(&quot;https://cdn.w3cbus.com/community.mdclub.org/upload/user-avatar/f1/82/da008b2ee19aa2dc3f48e5e910ff7f94.png?x-oss-process=image/resize,m_fill,w_128,h_128,limit_0/format,webp&quot;);"></div>
                    <div class="popover mdui-menu">
                        <div class="mdui-spinner"></div>
                    </div>
                </div>
                <div class="title mdui-text-color-theme-text"></div>
                <div class="content mdui-text-color-theme-secondary">
                    <div class="snippet"></div>
                    <div class="meta">
                        <div class="update_time" title="2021-08-27 15:54:51">发布于 2021-08-27</div>
                        <div class="replys">2 个回答</div>
                    </div>
                </div>
            </a></div>
        </div>
    </div>
</div>
</body>
</html>